@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

main{
    padding-top: 50px;
}

.hero{
    position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
    padding: 100px 50px;
}

#hero-background{
    background-image: url(/img/hero.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;

}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 80px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    margin-top: 50px;
}

#vpn{
    flex-direction: row-reverse;
}

.img-article{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.descripcion{
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 300px;
    height:fit-content;
    align-items: center;
    font-size: larger;
}

h1{
    display: flex;
    width: 100%;
    min-height: 50px;
    height:fit-content;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: #000000 solid 1px;
    border-radius: 5px;
}

h2{
    font-size: 28px;
    margin: 15px 0;
}

button{
    width: 100%;
    height: 40px;
    color: white;
    background: #186ADE;
    border-radius: 12px;
    margin-top: auto;
    margin-bottom: 15px;
}

#btns-ciberseguridad{
    display: flex;
    width: 100%;
    margin-top: auto;

}

.imgSvc{
    width: 500px;
    height: 300px;
}