*{
    box-sizing: border-box;
}

body{
    font-family: 'raleway', sans-serif;
    width: 100%;
    margin: 0;
}

main{
    width: 90%;
    margin: auto;
    padding-top: 75px;
    padding-bottom: 25px;
}

#background{
    background-image: url(/img/background-contact.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center;
    z-index: -1;
}

h2{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
}

#form-1, #form-2{
    max-width: 500px;
    padding:20px;
    margin-left: 50px;
    background-color: rgba(153, 153, 153, 0.3);
    border-radius: 5px;
}

#resumen{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    font-size: 15px;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(58, 58, 58, 0.6);
    border-radius: 5px;
}

input:focus, textarea:focus{
    outline-style: groove;
    outline-color: rgba(2, 2, 189, 0.7);
}

input:placeholder-shown, textarea:placeholder-shown {
    border: 1px solid rgba(60, 60, 60, 0.6); 
}

textarea{
    resize: none;
    margin-bottom: 15px;
    height: 150px;
}

#botonEnviar{
    color: white;
    background: #186ADE;
    border-radius: 5px;
    border: 1px solid rgba(60, 60, 60, 0.6);
    font-size: 18px;
    padding: 10px;
    cursor:pointer;
    margin: 0;
}

#botonEnviar:focus{
    outline-style: none;
    border: 1px solid rgba(60, 60, 60, 0.6);
}

#botonEnviar:hover{
    background-color: rgb(48, 81, 142);
}

#botonAtras, #botonDescargar{
    margin: 0;
}

#form-2-btn{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.error{
    border: 1px solid rgba(255, 0, 0, 0.7);
}

.valid{
    border: 1px solid rgba(0, 128, 0, 0.7);
}

label.error{
    color: #d9534f;
    font-size: smaller;
    border: none;
}

label.valid{
    color: rgb(52, 190, 33);
    font-size: smaller;
    border: none;
}