@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

main{
    width: 90%;
    margin: auto;
    min-height: 100vh;
    padding-top: 50px;
}

